# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.CrashCourse.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# ignore build results
# Compiled output (build artifacts)
bin/
# Intermediate object files
obj/
# Build output directory
out/

## Dotnet package/log files
*.nupkg
*.snupkg
*.log

